:root {
  --main-color: #fff;
  --white-color: #000000;
  --nav-color: #29e5ee;
  --hover-color: #ffffff79;
}

body {
  background-color: var(--main-color);
  overflow: hidden;
}

img {
  object-fit: contain;
}

a {
  text-decoration: none;
}

.colhover {
  transition: transform 0.3s ease;
}

.title{
   top: 100%;
    width: 100%;
    position: absolute;
    opacity: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s;
    border-radius: 10px;
    color: var(--main-color);
    font-weight: 700;
    font-size: 32px;

}

.inner {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.inner:hover .title{
 
    top: 0;
    opacity: 1;

    background-color: var(--hover-color);
}



li{
  color:var(--white-color);
  font-size: 20px;
  cursor: pointer;
}
i{
  cursor: pointer;
}

.navSidBar {
  max-width: 280px;
  
}
.contantNav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--main-color);
}
.logo{
  width: 50px;
}




.Aboutus {
  background-image: url(/imge/pexels-olly-3769739.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 

}

.cpntantAbut{
    padding: 10px;
    background: #00000045;
    box-shadow: 1px 1px 18px 0px #5c5c5c;
    height: 295px;
    width: 50%;
    color: #f5f2f2bf;
}


.font{
    font-family: "Underdog", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #f5f2f2bf;

  font-size: 22px;
}



.contantul{
  color: var(--white-color);
}

.logoAndIcon{
  background-color: var(--nav-color) !important;
}

.backClor{
  opacity: 0.3;
}

.Search{
  color: var(--white-color);
}


.icon-{
  color: var(--main-color) !important;
 }

.icon-Area{
  color: var(--white-color) !important;
}

.icon-respiy{
  color: var(--white-color) !important;
    box-shadow: 1px 1px 18px #787878;
    padding: 10px;

}

/* From Uiverse.io by JustCode14 */ 
/* Theme Switch */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2.2em;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 20px;
    left: 90%;
    position: fixed;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2a2a;
  transition: 0.4s;
  border-radius: 30px;
  overflow: hidden;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.2em;
  width: 1.2em;
  border-radius: 20px;
  left: 0.5em;
  bottom: 0.5em;
  transition: 0.4s;
  transition-timing-function: cubic-bezier(0.81, -0.04, 0.38, 1.5);
  box-shadow: inset 8px -4px 0px 0px #fff;
}

.switch input:checked + .slider {
  background-color: #00a6ff;
}

.switch input:checked + .slider:before {
  transform: translateX(1.8em);
  box-shadow: inset 15px -4px 0px 15px #ffcf48;
}

.star {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  width: 5px;
  transition: all 0.4s;
  height: 5px;
}

.star_1 {
  left: 2.5em;
  top: 0.5em;
}

.star_2 {
  left: 2.2em;
  top: 1.2em;
}

.star_3 {
  left: 3em;
  top: 0.9em;
}

.switch input:checked ~ .slider .star {
  opacity: 0;
}

.cloud {
  width: 3.5em;
  position: absolute;
  bottom: -1.4em;
  left: -1.1em;
  opacity: 0;
  transition: all 0.4s;
}

.switch input:checked ~ .slider .cloud {
  opacity: 1;
}

.loader {
    position: relative;
    width: 120px;
    height: 14px;
    border-radius: 0 0 15px 15px;
    background-color: #3e494d;
    box-shadow: 0 -1px 4px #5d6063 inset;
    animation: panex 0.5s linear alternate infinite;
    transform-origin: 170px 0;
    z-index: 10;
    perspective: 300px;

}
.loader::before {
  content: '';
  position: absolute;
  left: calc( 100% - 2px);
  top: 0;
  z-index: -2;
  height: 10px;
  width: 70px;
  border-radius: 0 4px 4px 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(#6c4924, #4b2d21), linear-gradient(#4d5457 24px, transparent 0), linear-gradient(#9f9e9e 24px, transparent 0);
  background-size: 50px 10px , 4px 8px , 24px 4px;
  background-position: right center , 17px center , 0px center;
}
  .loader::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    z-index: -2;
    transform: translate(-50% , -20px) rotate3d(75, -2, 3, 78deg);
    width: 55px;
    height: 53px;
    background: #fff;
    background-image:
    radial-gradient(circle 3px , #fff6 90%, transparent 10%),
    radial-gradient(circle 12px , #ffc400 90%, transparent 10%),
    radial-gradient(circle 12px , #ffae00 100%, transparent 0);
    background-repeat: no-repeat;
    background-position: -4px -6px , -2px -2px , -1px -1px;
    box-shadow: -2px -3px #0002 inset, 0 0 4px #0003 inset;
    border-radius: 47% 36% 50% 50% / 49% 45% 42% 44%;
    animation: eggRst 1s ease-out infinite;
  }

@keyframes eggRst {
  0% ,  100%{  transform: translate(-50%, -20px) rotate3d(90, 0, 0, 90deg); opacity: 0; }
  10% , 90% {  transform: translate(-50%, -30px) rotate3d(90, 0, 0, 90deg); opacity: 1; }
  25%  {transform:  translate(-50% , -40px) rotate3d(85, 17, 2, 70deg) }
  75% {transform:  translate(-50% , -40px) rotate3d(75, -3, 2, 70deg) }
  50% {transform:  translate(-55% , -50px) rotate3d(75, -8, 3, 50deg) }
}
@keyframes panex {
  0%{  transform: rotate(-5deg)  }
  100%{  transform: rotate(10deg)  }
}      
  .lod{
    z-index: 1584164561;
    background-color: #000000;

  }